/* src/components/Navbar.css */

.navbar {
  width: 100vw;
  padding: 15px 30px;
  background: #121212;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white; 
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #3498db;
}
