* {
  margin: 0;
  padding: 0;
  
}

body {
  margin-left: 65px;
  margin-right: 65px;
  margin-bottom: 300px;
}

section {
  height: 100vh;
  margin-bottom: 65px;
}

a {
  text-decoration: none;
}

.sombra {
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.08);
}


/* estilizacao dos cards */
.cd-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
}

.cd-li {
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.08);
  border-radius: 25px;
  height: 100px;
  width: 22%;
  text-align: center;
  padding: 10px;
  list-style: none;
  margin-top: 20px;
  transform: scale(1);
  transition: transform 0.6s ease;
}

.cd-li:hover {
  transform: scale(1.1);
}

.cd-img {
  height: 20px;
  width: 20px;
}

/* status*/

.stats-container {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.stat-box {
  text-align: center;
  font-family: 'inter', sans-serif;
}

.stat-box h2 {
  font-size: 60px;
  font-weight: 800;
  color: #000;
}

.stat-box h2 span {
  color: #3498db;
  font-weight: 1000;
}

.stat-box p {
  margin-top: 8px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #000;
}

/*Projetos*/
.projetos {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.box-d {
  display: flex;
}

.descr {
  text-align: center;
  padding: 10px;
  margin: 0 20px 0 0;
  border-radius: 50px;
  background-color: #90d2ff;
}

.box-p {
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.08);
  padding: 10px;
  border-radius: 25px;
}

.box-p img {
  height: 256px;
  width: 400px;
  border-radius: 50px;
  transform: scale(0.9);
  transition: transform 0.4s ease;
}

.box-p img:hover {
  transform: scale(1);
}

/*Home*/

.home {
  display:flex;
  justify-content: space-between;
}

.home-div {
  display: flex;
  flex-direction: column;
  align-items: center;     /* centraliza horizontalmente */
  justify-content: center;
  text-align: center;      /* centraliza texto */
}

.home-div h1 {
  margin: 0;
  font-size: 5rem;
}

.b-curriculo {
  color: black;
  text-align: center;
  padding: 10px;
  margin: 0 20px 0 0;
  border-radius: 50px;
  background-color: #90d2ff;
  margin: 0;
}

.img-home {
  height: 300px;
  border-radius: 50% 50% 46% 46% / 60% 60% 40% 40%;
}
 